<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
            <span class="logo-lg">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
            <span class="logo-lg">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span>@sharedResource["Dashboard"]</span></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index" > <span>@sharedResource["Home"]</span> </a>
                    </li>
                   @* <li class="nav-item">
                        <a class="nav-link menu-link" href="/index" aria-expanded="false"><i class="ri-layout-3-line"></i> <span>@sharedResource["Withdarw Requests"]</span> </a>
                    </li>*@
               @* <li class="nav-item">
                    <a href="/CRM/Configurations/ManageBusinessChart/Index" class="nav-link">@sharedResource["Manage Category"]</a>
                </li>*@

                </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>