<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
            <span class="logo-lg">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
            <span class="logo-lg">
                <img src="~/images/JoveraLogo.png" alt="" height="65">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span>@sharedResource["Dashboard"]</span></li>
                <li class="nav-item">
                    <a href="/index" class="nav-link menu-link" aria-expanded="false"><i class="ri-rocket-line"></i> <span>@sharedResource["Home"]</span> </a>
                </li>
                  
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Configurations"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageCatagory" class="nav-link">@sharedResource["Manage Categories"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageStore" class="nav-link">@sharedResource["Manage Stores"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageItem" class="nav-link">@sharedResource["Manage Items"]</a>
                                <a href="/CRM/Configurations/ManageAffiliateRatio" class="nav-link">@sharedResource["Manage Affiliate Ratio"]</a>
                            </li>
                           
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#manageSubProduct" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="manageSubProduct">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Manage Sub Product"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="manageSubProduct">
                        <ul class="nav nav-sm flex-column">

                            <li class="nav-item">
                                <a asp-area="CRM" asp-page="/Configurations/ManageSubProduct/ManageStepOne/index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Step One"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="CRM" asp-page="/Configurations/ManageSubProduct/ManageStepTwo/index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Step Two"]</a>

                            </li>


                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->

              <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarAuth">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["System Configurations"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                           
                            <li class="nav-item">
                                <a asp-area="CRM" asp-page="/SystemConfiguration/ManagePageContent/index" class="nav-link menu-link" class="nav-link">@sharedResource["Page Content"]</a>

                            </li>


                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->


               @* <li class="nav-item">
                    <a class="nav-link" href="/CRM/Configurations/ManageCatagory"> <span>@sharedResource["Manage Catagory"]</span> </a>
                    <a class="nav-link" href="/CRM/SystemConfiguration/ManagePageContent"> <span>@sharedResource["Manage Page Content"]</span> </a>
                </li>*@
                  

                </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>