@{
}
@model Jovera.Models.Store

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Add Store"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="CRM" asp-page="/Configurations/ManageStore/Index" asp-page-handler="AddStore" enctype="multipart/form-data" onsubmit="return validateMyForm();">
                <div class="modal-body">
                    <input type="hidden" id="id-field" />
                    <div class="row g-3">
                        <div class="col-12 mt-2 mb-3">
                            <div class="card p-3 bg-light">
                                <div class="car-body">
                                    <h4 class="mb-2">@sharedResource["Location"]</h4>
                                    <div class="form-group row">
                                        <div id="map" style="height:300px;width:600px;margin:auto"></div>
                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfsM19EfsfREOaCkPjRAVMYdTIXToo0FE&callback=initMap&v=weekly" defer></script>

                                    </div>

                                    <input type="text" asp-for="@Model.Lat" value="" hidden id="LatId" />
                                    <input type="text" asp-for="@Model.Lng" value="" hidden id="LngId" />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label asp-for="@Model.StoreName" class="form-label">@sharedResource["Store Name"]</label>

                                <input type="text" asp-for="@Model.StoreName" class="form-control" placeholder="@sharedResource["Enter Store Title"]" required />

                                <span asp-validation-for="@Model.StoreName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.Address" class="form-label">@sharedResource["Addres"]</label>
                                <input type="text" asp-for="@Model.Address" class="form-control" placeholder="@sharedResource["Enter Address"]" required />
                                <span asp-validation-for="@Model.Address" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.Email" class="form-label">@sharedResource["Email"]</label>
                                <input type="email" asp-for="@Model.Email" id="company_name-field" class="form-control" placeholder="@sharedResource["Enter Email"]" required />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.Password" class="form-label">@sharedResource["Password"]</label>
                                <input type="password"  asp-for="@Model.Password" id="company_name-field" class="form-control" placeholder="@sharedResource["Enter Password"]" required />
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
         
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">@sharedResource["Close"]</button>
                        <button class="btn btn-success" id="add-btn">@sharedResource["Add Store"]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>