

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Update Product Status"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>

            <form method="post" asp-area="CRM" asp-page="/Configurations/ManageItem/ProductDetails" asp-page-handler="EditItemStatusToReject" enctype="multipart/form-data">
                <div class="modal-body">
                  
                    <div class="row g-3">
                        
                        
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">@sharedResource["Reject Product Reason"]</label>

                                <textarea rows="3" name="RejectReason" class="form-control" placeholder="@sharedResource["Enter Reject Product Reason"]" required></textarea>

                                
                            </div>
                        </div>
                       
                    </div>
                    <!--end row-->
                </div>
         
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">@sharedResource["Close"]</button>
                        <button class="btn btn-success" id="add-btn">@sharedResource["Update Product Status"]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>