@model Jovera.Models.Item

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form method="post" asp-area="CRM" asp-page="/Configurations/ManageItem/ProductDetails" asp-route-itemId="@Model.ItemId" asp-page-handler="ActivateItem" enctype="multipart/form-data">
                <div class="modal-body">

                    <input value="@Model.ItemId" type="hidden" id="EditHiddenItemId" />

                    <div class="row g-3">
                      
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>

                               
                                <div class="input-group">
                                    <label for="@Model.DiscountRatio" class="form-label">@sharedResource["Discount Ratio"]</label>
                                    <input  class="form-control" type="number" asp-for="@Model.DiscountRatio" id="EDiscountRatioId" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">%</span>
</div>
                                      
                              @*  <input type="number" asp-for="@Model.DiscountRatio" id="EDiscountRatioId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Discount Ratio"]" required /> %*@
                            </div>
                            <div>
                                <label for="@Model.ItemPrice"
                                       class="form-label">@sharedResource["Product Price On Public Site"]</label>
                                <input type="number" asp-for="@Model.ItemPrice" id="EItemPriceId" 
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Product Price On Public Site"]" required />
                            </div>
                         
                        </div>

                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Activate Product"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>