@page
@model Jovera.Areas.CRM.Pages.Configurations.ManageItem.ProductDetailsModel
@using Microsoft.EntityFrameworkCore;
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
}
@{
    ViewBag.Title = @sharedResource["Product Details"];
    ViewBag.pTitle = @sharedResource["Product Details"];
    ViewBag.pageTitle = @sharedResource["Product"];
}

@section styles{
    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row gx-lg-5">
                    <div class="col-xl-4 col-md-8 mx-auto">
                        <div class="product-img-slider sticky-side-div">
                            <div class="swiper product-thumbnail-slider p-2 rounded bg-light">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/@Model.ItemDetails.ItemImage" alt="@sharedResource["Main Product Image"]"
                                             class="img-fluid d-block" />
                                    </div>
                                    @if(Model.ItemDetails.ItemImages!=null){
                                        foreach (var item in Model.ItemDetails.ItemImages)
                                    {
                                        <div class="swiper-slide">
                                            <img src="/@item.ImageName" alt="@sharedResource["Product Image"]"
                                                 class="img-fluid d-block" />
                                        </div>
                                    }
                                    }
                                    


                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                            <!-- end swiper thumbnail slide -->
                            <div class="swiper product-nav-slider mt-2">
                                <div class="swiper-wrapper">
                                    @if(Model.ItemDetails.ItemImages!=null){
                                    @foreach (var item in Model.ItemDetails.ItemImages)
                                    {
                                        <div class="swiper-slide">
                                            <div class="nav-slide-item ">
                                                <img src="/@item.ImageName" alt="@sharedResource["Product Image"]"
                                                     class="img-fluid d-block" />
                                            </div>
                                        </div>
                                    }
                                    }


                                </div>
                            </div>
                            <!-- end swiper nav slide -->
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-8">
                        <div class="mt-xl-0 mt-5">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    @if (Model.BrowserCulture == "en-US")
                                    {

                                        <h4>@Model.ItemDetails.ItemTitleEn</h4>
                                    }
                                    else
                                    {
                                        <h4>@Model.ItemDetails.ItemTitleAr</h4>

                                    }

                                    <div class="hstack gap-3 flex-wrap">
                                        @*  <div>
                                        <a href="#" class="text-primary d-block">
                                        Tommy
                                        Hilfiger
                                        </a>
                                        </div>
                                        <div class="vr"></div>*@
                                        @if (Model.BrowserCulture == "en-US")
                                        {

                                            <div class="text-muted">
                                                @sharedResource["Category :"]  <span class="text-body fw-medium">@Model.ItemDetails.MiniSubCategory.MiniSubCategoryTLEN</span>
                                            </div>
                                            <div class="vr"></div>
                                            <div class="text-muted">
                                                @sharedResource["Published :"] <span class="text-body fw-medium">@Model.ItemDetails.PublishedDate.ToShortDateString()</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="text-muted">
                                                @sharedResource["Category :"] <span class="text-body fw-medium">@Model.ItemDetails.MiniSubCategory.MiniSubCategoryTLAR</span>
                                            </div>
                                            <div class="vr"></div>
                                            <div class="text-muted">
                                                @sharedResource["Published :"]<span class="text-body fw-medium">@Model.ItemDetails.PublishedDate.ToShortDateString()</span>
                                            </div>
                                        }

                                    </div>
                                </div>

                                <div class="flex-shrink-0">

                                    <div>
                                        <a href="./EditItem?ItemId=@Model.ItemDetails.ItemId"
                                           class="btn btn-light" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Edit">
                                            <i class="ri-pencil-fill align-bottom"></i>
                                        </a>
                                    </div>


                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-2 align-items-center mt-3">
                                <div class="text-muted fs-16">
                                    @for (int i = 0; i < Model.ItemReviews; i++)
                                    {
                                        <span class="mdi mdi-star text-warning"></span>
                                    }


                                </div>
                                <div class="text-muted">(@Model.ItemReviewCount Customer Review )</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-money-dollar-circle-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1"> @sharedResource["Price :"]</p>
                                                <h5 class="mb-0">AED @Model.ItemDetails.ItemPrice</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-file-copy-2-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">@sharedResource["No. of Orders :"]</p>
                                                <h5 class="mb-0">10</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-stack-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">@sharedResource["Available Stocks :"]</p>
                                                <h5 class="mb-0">@Model.AvailableQuantityInStore</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-inbox-archive-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">@sharedResource["Total Revenue :"]</p>
                                                <h5 class="mb-0">AED 1000</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            @*  @if (Model.ItemDetails.HasSubProduct)
                            {
                            if (Model.ItemDetails.SubProducts != null)
                            {
                            <div class="row">
                            <div class="col-xl-12">
                            <div class=" mt-4">
                            <h5 class="fs-14">Step 1 :</h5>
                            <div class="d-flex flex-wrap gap-2">
                            @foreach (var item in Model.ItemDetails.SubProducts)
                            {
                            @if (item.Quantity == 0)
                            {

                            <div data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="@sharedResource["Out of Stock"]">
                            <input type="radio" class="btn-check"
                            name="productsize-radio" id="productsize-radio1"
                            disabled>
                            @if (Model.BrowserCulture == "en-US")
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio1">@item.step.ColorTLEN <span>(@item.Size.SizeTLEN)</span></label>
                            }
                            else
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio1">@item.Color.ColorTLAR <span>(@item.Size.SizeTLAR)</span></label>
                            }

                            </div>

                            }
                            else
                            {
                            <div data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="@item.Quantity Items Available">
                            <input type="radio" class="btn-check"
                            name="productsize-radio"
                            id="productsize-radio2">
                            @if (Model.BrowserCulture == "en-US")
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio2">@item.Color.ColorTLEN<span>(@item.Size.SizeTLEN)</span></label>

                            }
                            else
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio2">@item.Color.ColorTLAR<span>(@item.Size.SizeTLAR)</span></label>
                            }
                            </div>
                            }

                            }




                            </div>
                            </div>
                            </div>
                            <!-- end col -->

                            @*<div class="col-xl-6">
                            <div class=" mt-4">
                            <h5 class="fs-14">Step 2</h5>
                            <div class="d-flex flex-wrap gap-2">
                            @foreach (var item in Model.ItemDetails.SubProducts)
                            {
                            @if (item.Quantity == 0)
                            {
                            <div data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="@sharedResource["Out of Stock"]">
                            <input type="radio" class="btn-check"
                            name="productsize-radio" id="productsize-radio1"
                            disabled>
                            @if (Model.BrowserCulture == "en-US")
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio1">@item.Color.ColorTLEN</label>
                            }
                            else
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio1">@item.Color.ColorTLAR</label>
                            }

                            </div>

                            }
                            else
                            {
                            <div data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="04 Items Available">
                            <input type="radio" class="btn-check"
                            name="productsize-radio"
                            id="productsize-radio2">
                            @if (Model.BrowserCulture == "en-US")
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio2">@item.Color.ColorTLEN</label>

                            }
                            else
                            {
                            <label class="btn btn-soft-primary avatar-xs rounded-circle p-0 d-flex justify-content-center align-items-center"
                            for="productsize-radio2">@item.Color.ColorTLAR</label>
                            }
                            </div>
                            }

                            }

                            </div>
                            </div>
                            </div>
                            <!-- end col -->
                            </div>

                            }

                            <!-- end row -->
                            }*@

                            <div class="mt-4 text-muted">
                                <h5 class="fs-14">@sharedResource["Description :"]</h5>
                                <p>
                                    @if (Model.BrowserCulture == "en-US")
                                    {
                                        @Model.ItemDetails.ItemMiniDetailsEn

                                    }
                                    else
                                    {
                                        @Model.ItemDetails.ItemMiniDetailsAr

                                    }



                                </p>
                            </div>

                            @*  <div class="row">
                            <div class="col-sm-6">
                            <div class="mt-3">
                            <h5 class="fs-14">Features :</h5>
                            <ul class="list-unstyled">
                            <li class="py-1">
                            <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                            Full Sleeve
                            </li>
                            <li class="py-1">
                            <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                            Cotton
                            </li>
                            <li class="py-1">
                            <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                            All Sizes available
                            </li>
                            <li class="py-1">
                            <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                            4 Different Color
                            </li>
                            </ul>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="mt-3">
                            <h5 class="fs-14">Services :</h5>
                            <ul class="list-unstyled product-desc-list">
                            <li class="py-1">10 Days Replacement</li>
                            <li class="py-1">Cash on Delivery available</li>
                            </ul>
                            </div>
                            </div>
                            </div>*@


                            <div class="product-content mt-5">
                                <h5 class="fs-14 mb-3">@sharedResource["Product Description"]</h5>
                                <nav>
                                    <ul class="nav nav-tabs nav-tabs-custom nav-success"
                                        id="nav-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="nav-speci-tab"
                                               data-bs-toggle="tab" href="#nav-speci" role="tab"
                                               aria-controls="nav-speci"
                                               aria-selected="true">@sharedResource["Specification"]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-detail-tab"
                                               data-bs-toggle="tab" href="#nav-detail" role="tab"
                                               aria-controls="nav-detail"
                                               aria-selected="false">@sharedResource["Details"]</a>
                                        </li>
                                        @if (Model.ItemDetails.HasSubProduct)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" id="nav-supPro-tab"
                                                   data-bs-toggle="tab" href="#nav-supPro" role="tab"
                                                   aria-controls="nav-supPro"
                                                   aria-selected="false">@sharedResource["Sub Products"]</a>
                                            </li>

                                        }

                                    </ul>
                                </nav>
                                <div class="tab-content border border-top-0 p-4"
                                     id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-speci"
                                         role="tabpanel" aria-labelledby="nav-speci-tab">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                @if (Model.BrowserCulture == "en-US")
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 200px;">
                                                                @sharedResource["Category"]
                                                            </th>
                                                            <td>@Model.ItemDetails.MiniSubCategory.MiniSubCategoryTLEN</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Our Selling Price"]</th>
                                                            <td>@Model.ItemDetails.OurSellingPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Selling Price To Customer"]</th>
                                                            <td>@Model.ItemDetails.SellingPriceForCustomer</td>
                                                        </tr>
                                                          <tr>
                                                            <th scope="row">@sharedResource["Discount Ratio"]</th>
                                                            <td>@Model.ItemDetails.DiscountRatio %</td>
                                                        </tr>
                                                          <tr>
                                                            <th scope="row">@sharedResource["Price After Discount"]</th>
                                                            <td>@Model.ItemDetails.OldPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Product Price On Public Site"]</th>
                                                            <td>@Model.ItemDetails.ItemPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Has SubProduct"]</th>
                                                            <td>@Model.ItemDetails.HasSubProduct</td>
                                                        </tr>
                                                        @if (!(@Model.ItemDetails.HasSubProduct))
                                                        {
                                                            <tr>
                                                                <th scope="row">@sharedResource["Quantity"]</th>
                                                                <td>@Model.ItemDetails.Quantity</td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <th scope="row">@sharedResource["Product Status"]</th>
                                                            @if (@Model.ItemDetails.ItemStatusId==1)
                                                            {
                                                            <td> <span class="badge badge-soft-danger text-uppercase">@Model.ItemDetails.ItemStatus.StatusEnglishTitle</span></td>
                                                                
                                                            }else if(@Model.ItemDetails.ItemStatusId==2){
                                                                <td> <span class="badge badge-soft-primary text-uppercase">@Model.ItemDetails.ItemStatus.StatusEnglishTitle</span></td>

                                                            }else if(@Model.ItemDetails.ItemStatusId==3){
                                                                <td> <span class="badge badge-soft-success  text-uppercase">@Model.ItemDetails.ItemStatus.StatusEnglishTitle</span></td>

                                                            }
                                                            else{
                                                                <td> <span class="badge badge-soft-warning text-uppercase">@Model.ItemDetails.ItemStatus.StatusEnglishTitle</span></td>

                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Active"]</th>
                                                            <td>@Model.ItemDetails.IsActive</td>
                                                        </tr>
                                                        @if (!@Model.ItemDetails.HasSubProduct)
                                                        {
                                                            <tr>
                                                                <th scope="row">@sharedResource["BarCode"]</th>
                                                                <td><img src="/@Model.ItemDetails.BarCode" width="50px" height="50px" /></td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                }
                                                else
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 200px;">
                                                                @sharedResource["Category"]
                                                            </th>
                                                            <td>@Model.ItemDetails.MiniSubCategory.MiniSubCategoryTLAR</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Our Selling Price"]</th>
                                                            <td>@Model.ItemDetails.OurSellingPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Selling Price To Customer"]</th>
                                                            <td>@Model.ItemDetails.SellingPriceForCustomer</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Discount Ratio"]</th>
                                                            <td>@Model.ItemDetails.DiscountRatio %</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Price After Discount"]</th>
                                                            <td>@Model.ItemDetails.OldPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Product Price On Public Site"]</th>
                                                            <td>@Model.ItemDetails.ItemPrice</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">@sharedResource["Has SubProduct"]</th>
                                                            <td>@Model.ItemDetails.HasSubProduct</td>
                                                        </tr>
                                                        @if (!(@Model.ItemDetails.HasSubProduct))
                                                        {
                                                            <tr>
                                                                <th scope="row">@sharedResource["Quantity"]</th>
                                                                <td>@Model.ItemDetails.Quantity</td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <th scope="row">@sharedResource["Active"]</th>
                                                            <td>@Model.ItemDetails.IsActive</td>
                                                        </tr>
                                                          <tr>
                                                            <th scope="row">@sharedResource["Product Status"]</th>
                                                            @if (@Model.ItemDetails.ItemStatusId==1)
                                                            {
                                                            <td> <span class="badge badge-soft-danger text-uppercase">@Model.ItemDetails.ItemStatus.StatusArabicTitle</span></td>
                                                                
                                                            }else if(@Model.ItemDetails.ItemStatusId==2){
                                                                <td> <span class="badge badge-soft-primary text-uppercase">@Model.ItemDetails.ItemStatus.StatusArabicTitle</span></td>

                                                            }else if(@Model.ItemDetails.ItemStatusId==3){
                                                                <td> <span class="badge badge-soft-success  text-uppercase">@Model.ItemDetails.ItemStatus.StatusArabicTitle</span></td>

                                                            }
                                                            else{
                                                                <td> <span class="badge badge-soft-warning text-uppercase">@Model.ItemDetails.ItemStatus.StatusArabicTitle</span></td>

                                                            }
                                                        </tr>
                                                        

                                                        @if (!@Model.ItemDetails.HasSubProduct)
                                                        {
                                                            <tr>
                                                                <th scope="row">@sharedResource["BarCode"]</th>
                                                                <td><img src="/@Model.ItemDetails.BarCode" width="50px" height="50px" /></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-detail" role="tabpanel"
                                         aria-labelledby="nav-detail-tab">
                                        <div>
                                            @if (Model.BrowserCulture == "en-US")
                                            {
                                                <h5 class="font-size-16 mb-3">
                                                    @Model.ItemDetails.ItemTitleEn
                                                </h5>

                                            }
                                            else
                                            {
                                                <h5 class="font-size-16 mb-3">
                                                    @Model.ItemDetails.ItemTitleAr
                                                </h5>

                                            }

                                            <p>
                                                @if (Model.BrowserCulture == "en-US")
                                                {
                                                    @Html.Raw(@Model.ItemDetails.ItemDescriptionEn)
                                                }
                                                else
                                                {
                                                    @Html.Raw(@Model.ItemDetails.ItemDescriptionAr)
                                                }
                                            </p>

                                        </div>
                                    </div>
                                    @if (Model.ItemDetails.HasSubProduct)
                                    {
                                        <div class="tab-pane fade" id="nav-supPro" role="tabpanel"
                                             aria-labelledby="nav-supPro-tab">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card" id="List">

                                                        <div class="card-body">
                                                            <div>
                                                                <div class="table-responsive table-card">
                                                                    <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                                                                        <thead class="table-light">
                                                                            <tr>



                                                                                <th data-ordering="false">@sharedResource["QRCode"]</th>
                                                                                <th data-ordering="false">@sharedResource["Step One Arabic Title"]</th>
                                                                                <th data-ordering="false">@sharedResource["Step One English Title"]</th>
                                                                                <th data-ordering="false">@sharedResource["Step Two Arabic Title"]</th>
                                                                                <th data-ordering="false">@sharedResource["Step Two English Title"]</th>
                                                                                <th data-ordering="false">@sharedResource["Quantity"]</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var item in Model.miniSubProductsList)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <div class="d-flex align-items-center">
                                                                                            <div class="flex-shrink-0">
                                                                                                <img src="~/@item.ItemQRCode" alt=""
                                                                                                     class="avatar-xxs rounded-circle image_src object-cover">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="company_name">@item.StepOneTLAR</td>
                                                                                    <td class="leads_score">@item.StepOneTLEN</td>
                                                                                    <td class="phone">@item.StepTwoTLAR</td>
                                                                                    <td class="location">@item.StepTwoTLEN</td>
                                                                                    <td class="location">@item.Quantity</td>
                                                                                </tr>


                                                                            }
                                                                        </tbody>

                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--end modal-->
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                            <!-- product-content -->
                            <div class="row">
                                @if (@Model.ItemDetails.ItemStatusId != 3)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-4">@sharedResource["Update Product Status"]</h5>
                                            <div class="d-flex flex-wrap gap-2 fs-15">
                                                @if (@Model.ItemDetails.ItemStatusId == 2 || @Model.ItemDetails.ItemStatusId == 4)
                                                {
                                                    <div class="col-lg-4">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <a href="javascript:void(0)"
                                                               class="btn btn-primary" data-bs-toggle="modal"
                                                               data-bs-placement="top" title="Activate Product" onclick="editButtonClick(@Model.ItemDetails.ItemId)">
                                                                @sharedResource["Activate Product"]
                                                            </a>


                                                        </div>

                                                    </div>

                                                }
                                                @if (@Model.ItemDetails.ItemStatusId == 2)
                                                {
                                                    <div class="col-lg-4">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button class="btn btn-danger" data-bs-toggle="modal"
                                                                    data-bs-target="#showEditModal">
                                                                @sharedResource["Reject Product"]
                                                            </button>

                                                        </div>
                                                    </div>
                                                }




                                            </div>
                                        </div><!-- end card body -->
                                    </div>

                                    <!-- end card -->
                                }

                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>

               

                <!--end row-->

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div><!-- end row -->
<partial name="_AddPopup" view-data="ViewData" />
<partial name="_EditPopup" model="@Model.ItemDetails" view-data="ViewData" />
@section scripts{
    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- ecommerce product details init -->
    <script src="~/assets/js/pages/ecommerce-product-details.init.js"></script>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    function editButtonClick(ItemId) {
        console.log(ItemId);
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }

            ,
            url: "/CRM/Configurations/ManageItem/ProductDetails?handler=SingleUpdateItemToActivateForEdit",

            data: { "ItemId": ItemId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                document.getElementById("EditHiddenItemId").value = response.ItemId
                document.getElementById("EDiscountRatioId").value = response.DiscountRatio
                document.getElementById("EItemPriceId").value = response.SellingPriceForCustomer
                input = document.getElementById("EItemPriceId");
                input.setAttribute("min", response.SellingPriceForCustomer);
                $('#showEditModal').modal('show');


            },

            failure: function (response) {
                alert(response);
            }
        });
    }
</script>