@{
}
@model Jovera.Models.StepOne

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Step One"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="CRM" asp-page="/Configurations/ManageSubProduct/ManageStepOne/Index" asp-page-handler="EditStepOne" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="ColorHiddenId" asp-for="@Model.StepOneId" />
                    <div class="row g-3">

                        <div class="col-lg-6">
                            <div>
                                <label asp-for="@Model.StepOneTLAR" class="form-label">@sharedResource["Arabic Title"]</label>

                                <input type="text" asp-for="@Model.StepOneTLAR" class="form-control" id="ColorTLARId" placeholder="@sharedResource["Enter Arabic Title"]" required />

                                <span asp-validation-for="@Model.StepOneTLAR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.StepOneTLEN" class="form-label">@sharedResource["English Title"]</label>
                                <input type="text" asp-for="@Model.StepOneTLEN" class="form-control" id="ColorTLENId" placeholder="@sharedResource["Enter English Title"]" required />
                                <span asp-validation-for="@Model.StepOneTLEN" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>